<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="myUL">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true">

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBTTHvSgMzTan1bnBHbdOMISEz56BvDn3g" />

    <activity android:name=".ContactInfo" />
    <activity android:name=".InfoActivity" />
    <activity android:name=".MenuActivity" />
    <activity android:name=".UserType" />
    <activity android:name=".HomeActivity" />
    <activity android:name=".RestaurantsActivity" />
    <activity android:name=".MapsActivity" />
    <activity android:name=".ClubSocActivity"/>
    <activity android:name=".ParkingActivity"/>
    <activity android:name=".LoginActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>
</manifest>